:root {
  font-family: "Monda", sans-serif;
  transition: all 0.5s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #373f68; */
}

.dynamic-shadow-dom {
  --dynamic-connect-button-background: linear-gradient(
    90deg,
    rgba(29, 157, 155, 1) 0%,
    rgba(10, 103, 122, 1) 100%
  );
  --dynamic-connect-button-color: #fff;
  --dynamic-connect-button-color-hover: #fff;
  --dynamic-connect-button-border: none;
  --dynamic-connect-button-border-radius: 5px;
  --dynamic-connect-button-background-hover: linear-gradient(
    90deg,
    rgba(37, 177, 175, 1) 0%,
    rgba(18, 122, 143, 1) 100%
  );
  --dynamic-connect-button-width: 400px;
  --dynamic-connect-button-padding: small;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
}

.nav-bar-container-logo {
}

.nav-bar-container-logo-link {
  text-decoration: none;
}

.nav-bar-container-info {
}

.footer-link {
}

.page-container {
  width: 100%;
}

.tabs-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.canvas-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}
