:root {
  font-family: "Monda", sans-serif;
  transition: all 0.5s;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root,
body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../src/assets/background_img.png");
  background-repeat: repeat;
}

.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  border-bottom: 1px solid #ffca2b;
}

.nav-bar-container-logo {
}

.nav-bar-container-logo-link {
  text-decoration: none;
}

.nav-bar-container-info {
}

.footer-link {
  color: white;
}

.page-container {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
}

.cards-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.canvas-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.canvas-header-left {
  color: white;
  display: flex;
  flex-direction: column;
}

.canvas-header-right {
  color: white;
}
